{% extends 'stripe_shop/_base.html' %}

{% block script %}
const options = {clientSecret: '{{STRIPE_PAYMENT_CLIENT_SECRET}}'};
const buyCartUrl = "{% url 'cart_checkout' currency %}";

window.addEventListener("load", () => {
    const elements = stripe.elements(options);
    const paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');
});

window.addEventListener("load", () => {
    const buyBtn = document.getElementById('buy-btn');
    buyBtn.onclick = async () => {
        const res = await fetch(buyItemUrl);
        const jsonResp = await res.json();
        const sessionId = jsonResp?.checkout_session_id;
        if (!jsonResp || !sessionId) {
          throw new Error('bad json response');
        }
        stripe.redirectToCheckout({ sessionId });
    };
});

{% endblock script %}


{% block content %}
<div id="checkout-form">
    <div id="payment-element"></div>
    <button id="submit-checkout">Submit</button>
</div>
{% endblock %}